$green: #00C851;
$grey: #2E2E2E;
$Atime: 0.5s; //transition time

//GENERAL
//hide input arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html,body {
	position: relative;
	height: 100%;
	overflow: hidden;
	font-size: 0px;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.double_direction_gallery {
	position: relative;
	top: 45px;
	left: 0;
	width: 100%;
	height: calc(100% - 45px);
	z-index: 1;
	text-align: center;
	transition: top $Atime, left $Atime;
	& h1 {
		font-size: 32px;
	}
	& p {
		font-size: 14px;
	}
}
.img {
	position: absolute;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: height $Atime, width $Atime, top $Atime, left $Atime;
	z-index: 3;
}
.settings {
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	height: 45px;
	box-shadow: 1px 1px 60px #333 inset;
	font-size: 14px;
	text-align: center;
	z-index: 10;
	color: white;
	transition: top 0.2s;
	& .content {
		margin-top: 11px;
	}
}
@mixin inputs() {
	position: relative;
	border: none;
	color: black;
	outline: 0 !important; //kill chrome's black border
	width: 70px;
	padding: 3px 11px;
}
#img_piece {
	@include inputs();
}
#column_piece {
	@include inputs();
}
@mixin buttons($color) {
	position: relative;
	border: none;
	background-color: $color;
	padding: 3px 10px;
	border-radius: 4px;
	outline: 0 !important;
	cursor: pointer;
}
#go {
	@include buttons($green);
}
//NAV-BUTTONS
.nav-button {
	position: fixed;
	border: none;
	border-radius: 50%;
	background-color: rgba(0,0,0, 0.1);
	width: 50px;
	height: 50px;
	z-index: 4;
	display: none;
	opacity: 0;
	outline: 0 !important;
	&.left {
		top: 50%;
		margin-top: -25px;
		left: 25px;
	}
	&.right {
		top: 50%;
		margin-top: -25px;
		right: 25px;
	}
	&.top {
		top: 55px;
		margin-left: -25px;
		left: 50%;
	}
	&.bottom {
		bottom: 25px;
		margin-left: -25px;
		left: 50%;
	}
}
//LOADER
@mixin points($border_color) {
	position: absolute;
	left: 20%;
	top: 15%;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	border: 4px solid transparent;
	border-top: 4px solid $border_color;
	border-left: 4px solid $border_color;
}
.loader {
	position: fixed;
	top: 45px;
	left: 0;
	width: 100%;
	height: calc(100% - 45px);
	background-color: $grey;
	display: none;
	opacity: 0;
	z-index: 2;
}
.circle-loader-in {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 130px;
	width: 150px;
	margin-left: -75px;
	margin-top: -65px;
	background-color: transparent;
	display: block;
}

.p1 {
	@include points(#9933CC);
	animation: p1 1.5s ease 0s infinite;
}
.p2 {
	@include points(#0d47a1);
	animation: p2 1.5s ease 0s infinite;
}
.p3 {
	@include points(#00695c);
	animation: p3 2s linear 0s infinite;
}
.p4 {
	@include points(#ff4444);
	animation: p4 1s ease 0s infinite;
}

@keyframes p1 {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@keyframes p2 {
	0% {transform: rotate(0deg) scale(0.9);}
	100% {transform: rotate(-360deg) scale(0.9);}
}
@keyframes p3 {
	0% {transform: rotate(0deg) scale(1.5);}
	100% {transform: rotate(360deg) scale(1.5);}
}
@keyframes p4 {
	0% {transform: rotate(0deg) scale(1.2);}
	100% {transform: rotate(360deg) scale(1.2);}
}